In [1]:
from google_play_scraper import reviews, app
import pandas as pd
from datetime import datetime

In [2]:
banks = {
    "dashen": "com.dashen.dashensuperapp",
    "abyssinia": "com.boa.boaMobileBanking",
    "cbe": "com.combanketh.mobilebanking"
}

all_reviews = []

for bank_name, package_name in banks.items():
    print(f"Scraping reviews for {bank_name}...")
    bank_reviews, _ = reviews(
        package_name,
        count=500  
    )
    
    for r in bank_reviews:
        all_reviews.append({
            "review": r['content'],
            "rating": r['score'],
            "date": r['at'],
            "bank": bank_name,
            "source": "Google Play"
        })

print(f"Total reviews collected: {len(all_reviews)}")

Scraping reviews for dashen...
Scraping reviews for abyssinia...
Scraping reviews for cbe...
Total reviews collected: 1500

In [3]:
df = pd.DataFrame(all_reviews)

In [4]:
df.drop_duplicates()

,review,rating,date,bank,source
0,very smart App easy to use and friendly,5,2025-11-29 16:22:04,dashen,Google Play
1,Very exemplery App to other Bank Aps !,5,2025-11-29 02:45:26,dashen,Google Play
2,good,5,2025-11-29 00:38:53,dashen,Google Play
3,It Is An Amazing app,4,2025-11-28 09:44:21,dashen,Google Play
4,its fast and easy to communicate to the app an...,5,2025-11-26 18:02:58,dashen,Google Play
...,...,...,...,...,...
1495,so good,5,2025-08-04 19:31:09,cbe,Google Play
1496,worst experience,1,2025-08-04 18:38:19,cbe,Google Play
1497,The 1st one is CBE,5,2025-08-04 18:21:22,cbe,Google Play
1498,excellent,5,2025-08-04 18:09:46,cbe,Google Play
1499,nice,5,2025-08-04 17:47:35,cbe,Google Play

In [5]:
print(df.isna().sum())
df.dropna(subset=['review', 'rating', 'date'], inplace=True)

review    0
rating    0
date      0
bank      0
source    0
dtype: int64

In [6]:
df['date'] = df['date'].apply(lambda x: x.strftime('%Y-%m-%d'))

In [7]:
df.drop_duplicates()

,review,rating,date,bank,source
0,very smart App easy to use and friendly,5,2025-11-29,dashen,Google Play
1,Very exemplery App to other Bank Aps !,5,2025-11-29,dashen,Google Play
2,good,5,2025-11-29,dashen,Google Play
3,It Is An Amazing app,4,2025-11-28,dashen,Google Play
4,its fast and easy to communicate to the app an...,5,2025-11-26,dashen,Google Play
...,...,...,...,...,...
1495,so good,5,2025-08-04,cbe,Google Play
1496,worst experience,1,2025-08-04,cbe,Google Play
1497,The 1st one is CBE,5,2025-08-04,cbe,Google Play
1498,excellent,5,2025-08-04,cbe,Google Play
1499,nice,5,2025-08-04,cbe,Google Play

In [8]:
df.to_csv("bank_reviews.csv")
print("CSV saved successfully!")

CSV saved successfully!